@use '../globals/colors' as *;
@use '../globals/fonts' as *;

body {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-family: $ff-primary;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  width: 30rem;
  height: 100%;
  left: 0;
  top: 0;
}

section {
  position: inherit;
  width: 100%;
  min-height: 100%;
}

