:root {
  --clr-neutral-100: hsl(40, 4%, 14%);
  --clr-neutral-200: hsl(34, 6%, 24%);
  --clr-neutral-800: hsl(38, 16%, 76%);
  --clr-neutral-900: hsl(46, 100%, 97%);
  --clr-accent-100: hsl(17, 83%, 54%);
}

.bg-neutral-100 { background-color: var(--clr-neutral-100); }
.bg-neutral-200 { background-color: var(--clr-neutral-200); }
.bg-neutral-800 { background-color: var(--clr-neutral-800); }
.bg-neutral-900 { background-color: var(--clr-neutral-900); }

.bg-accent-100 { background-color: var(--clr-accent-100); }