$spacing-100: .25rem;
$spacing-200: .5rem;
$spacing-300: 1rem;
$spacing-400: 1.5rem;
$spacing-500: 2rem;
$spacing-600: 2.5rem;
$spacing-700: 3rem;
$spacing-800: 3.5rem;
$spacing-900: 4rem;

.padding-100 { padding: $spacing-100; }
.padding-200 { padding: $spacing-200; }
.padding-300 { padding: $spacing-300; }
.padding-400 { padding: $spacing-400; }
.padding-500 { padding: $spacing-500; }
.padding-600 { padding: $spacing-600; }
.padding-700 { padding: $spacing-700; }
.padding-800 { padding: $spacing-800; }
.padding-900 { padding: $spacing-900; }

.padding-block-100 { padding-block: $spacing-100; }
.padding-block-200 { padding-block: $spacing-200; }
.padding-block-300 { padding-block: $spacing-300; }
.padding-block-400 { padding-block: $spacing-400; }
.padding-block-500 { padding-block: $spacing-500; }
.padding-block-600 { padding-block: $spacing-600; }
.padding-block-700 { padding-block: $spacing-700; }
.padding-block-800 { padding-block: $spacing-800; }
.padding-block-900 { padding-block: $spacing-900; }

.padding-inline-100 { padding-inline: $spacing-100; }
.padding-inline-200 { padding-inline: $spacing-200; }
.padding-inline-300 { padding-inline: $spacing-300; }
.padding-inline-400 { padding-inline: $spacing-400; }
.padding-inline-500 { padding-inline: $spacing-500; }
.padding-inline-600 { padding-inline: $spacing-600; }
.padding-inline-700 { padding-inline: $spacing-700; }
.padding-inline-800 { padding-inline: $spacing-800; }
.padding-inline-900 { padding-inline: $spacing-900; }

.padding-top-100 { padding-top: $spacing-100; }
.padding-top-200 { padding-top: $spacing-200; }
.padding-top-300 { padding-top: $spacing-300; }
.padding-top-400 { padding-top: $spacing-400; }
.padding-top-500 { padding-top: $spacing-500; }
.padding-top-600 { padding-top: $spacing-600; }
.padding-top-700 { padding-top: $spacing-700; }
.padding-top-800 { padding-top: $spacing-800; }
.padding-top-900 { padding-top: $spacing-900; }

.padding-right-100 { padding-right: $spacing-100; }
.padding-right-200 { padding-right: $spacing-200; }
.padding-right-300 { padding-right: $spacing-300; }
.padding-right-400 { padding-right: $spacing-400; }
.padding-right-500 { padding-right: $spacing-500; }
.padding-right-600 { padding-right: $spacing-600; }
.padding-right-700 { padding-right: $spacing-700; }
.padding-right-800 { padding-right: $spacing-800; }
.padding-right-900 { padding-right: $spacing-900; }

.padding-bottom-100 { padding-bottom: $spacing-100; }
.padding-bottom-200 { padding-bottom: $spacing-200; }
.padding-bottom-300 { padding-bottom: $spacing-300; }
.padding-bottom-400 { padding-bottom: $spacing-400; }
.padding-bottom-500 { padding-bottom: $spacing-500; }
.padding-bottom-600 { padding-bottom: $spacing-600; }
.padding-bottom-700 { padding-bottom: $spacing-700; }
.padding-bottom-800 { padding-bottom: $spacing-800; }
.padding-bottom-900 { padding-bottom: $spacing-900; }

.padding-left-100 { padding-left: $spacing-100; }
.padding-left-200 { padding-left: $spacing-200; }
.padding-left-300 { padding-left: $spacing-300; }
.padding-left-400 { padding-left: $spacing-400; }
.padding-left-500 { padding-left: $spacing-500; }
.padding-left-600 { padding-left: $spacing-600; }
.padding-left-700 { padding-left: $spacing-700; }
.padding-left-800 { padding-left: $spacing-800; }
.padding-left-900 { padding-left: $spacing-900; }